*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0 auto;
    width: 1000px;
}
#page{
  margin: 2px 2px 2px 2px;
    position:relative;
    width:100%;
border-radius:6px 6px 0px 0px;
    border: 1px solid rosybrown;
}
#header{
    height: 100px;
    width:100%;

   /* background: linear-gradient(#abaea6, #ffffff);*/
    background-image: url("../images/header-gif.png");
    background-size: 100% 100px;
    background-repeat: no-repeat;
    border-radius: 6px;

}
#icon{

    margin: 0px 0px 0px 50px;
    padding-top: 4px;
}
#search{
    float: right;
    margin:-30px 30px 10px 0px ;
}
#menu{
    width: 100%;
    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #5CB8FF 0%, #130999 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #5CB8FF 0%, #130999 100%);

    /* Opera */
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #5CB8FF 0%, #130999 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 496, color-stop(0, #5CB8FF), color-stop(1, #130999));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #5CB8FF 0%, #130999 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #5CB8FF 0%, #130999 100%);

    height: 40px;
    border: 1px solid #0077ba;

}

#menu>ul>li{
margin-top: 20px;
    display: inline;


}
#menu>ul{
    margin-top: 10px;
    color: #ffffff;
   text-align: center;
}

#menu>ul>li>a{
    padding: 0px 50px 0px 50px;
    color: #ffffff;
    text-decoration: none;
}
#menu>ul>li>a:hover{
    padding: 0px 50px 0px 50px;
    color: blue;
    text-decoration: none;
    background-color: #ffffff;

}

#content{
    height: 460px;
}
.category{
padding: 8px 0px 0px 5px;
}
.tBody {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(231, 231, 231);
}

 th {
    border: 1px solid grey;
    font-size: 0.7em;
    font-family: century;

}
td {
    border: 1px solid grey;
    font-size: 0.7em;
    font-family: century;
    color: #040E4A;

}

/*pagenation*/
table, th, td {
            cellpadding:1px;
            cellspacing:1px;
        }
        th{
            background:#B4F114;
        }
        .active {
            background:#4DB0D5;
        }
         #p{
            float:right;
            padding:2px;
            margin:4px;}
/*footer*/
#footer{
    clear:both;
    height: 50px;
    background: linear-gradient(#4c4d49, #61645c);
	color:white;
	text-align:center;
}
