.PheadCss
{
    background-image: url("./forum.jpg");
    height: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: blue;
    border: 3px;
    font-size: 2em;
  }
.PbodyC
{
    border: 2px solid pink;
    border-radius: 20px;

}
.PtitleCss
{
    margin-left: 150px;

}