.PheadCss
{
    background-image: url("../images/circle.png");
    height: 235px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*color: blue;*/
    /*border: 3px solid #000000;*/
    font-size: 2em;
    width: 100%;
    /*margin-left: 0.1%;*/
}
.PbodyC
{
    border: 2px solid pink;
    border-radius: 20px;
    margin: 1% 1% auto;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-color: black;
    -moz-column-rule-color: black;
    column-rule-color: black;
    height: 550px;
}
.HLeftCss
{
    border: 2px solid pink;
    border-radius: 20px;
    margin: 1% 3% auto;
    width: 20%;
    float: left;
    height: 500px;
}
.HRightCss
{
    width: 70%;
    float: left;
    border: 2px solid pink;
    border-radius: 20px;
    margin: 1% 1% auto;
    height: 500px;
    /*text-align: center;*/

}
.HMainCss
{
    width: 98%;
    margin-left: 1%;

}
.menu {

    position: fixed;
    background-image:url("../images/Untitled.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;;
    height: 30px;
    left: 1%;
    top: 0;
    width: 97%;
    align-items: center;
    margin-left: .5%;
    color: #ffffff;




}
#menuItem1
 {
     /*float: left;*/
    float: right;
    margin-right: 20px;
 }
#menuItem2
{
    float: right;
    margin-right: 30px;
}
#menuItem3
{
    float: right;
    margin-right: 50px;
    color: #ffffff;
}
#HomeP{
    float: right;
    margin-right: 40px;
}
.postidcss
{
    border: 2px solid pink;
    border-radius: 20px;
    height: 500px;
    width: 95%;
    float: left;
    margin-left: 20px;

}
.categorycss
{
    margin-left: 20px;

}

.quescss
{
    margin-left: 20px;
    margin-top: 30px;

}
.tagcss
{
    margin-left: 20px;
    float: left;

}

.usernamecss
{

    margin-right: 30px;
    float: right;
    width: 15%

}

.datecss
{

    margin-right: 20px;
    float: right;
    width: 5%


}

.timecss
{
    margin-right: 10px;
    float: right;
    width: 5%

}
#TagCategories
{
    border: 2px solid pink;
    border-radius: 20px;
    height: 55px;
    width: 90%;
    float: left;
    margin-left: 10px;
    text-align: center;
}
#Htitle
{
    color: #ffffff;
    margin-left: 40px;
}
#Description
{
    margin-top: 3px;
    margin-left: 80px;

}
#dis{
    margin: 0;
    width: 80%;
}