
.PheadCss {
    background-image: url("../images/circle.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 2em;
    height: 235px;
    width: 100%;
}
.PbodyC {
    border: 2px solid pink;
    border-radius: 20px;
    margin: 1% 1% auto;
    position: absolute;
    width: 90%;
}
.HLeftCss {
    border: 2px solid pink;
    border-radius: 20px;
    float: left;
    height: auto;
    margin: 3%;
    width: 20%;
}
.HRightCss {
    border: 2px solid pink;
    border-radius: 20px;
    float: left;
    height: auto;
    margin: 3%;
    width: 67%;
}
.HMainCss {
    margin-left: 1%;
    width: 95%;
}
.menu {
    align-items: center;
    background-image: url("../images/Untitled.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    height: 30px;
    left: 1%;
    margin-left: 0.5%;
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 2;
}
#menuItem1 {
    float: right;
    margin-right: 20px;
}
#menuItem2 {
    float: right;
    margin-right: 30px;
}
#menuItem3 {
    color: #ffffff;
    float: right;
    margin-right: 50px;
}
#HomeP {
    float: right;
    margin-right: 40px;
}
.postidcss {
    border: 2px solid pink;
    border-radius: 20px;
    float: left;
    height: 25%;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 95%;
}
.categorycss {
    margin-left: 3%;
}
.quescss {
    margin-left: 3%;
    margin-top: 3%;
}
.tagcss {
    float: left;
    margin-left: 3%;
}
.usernamecss {
    float: right;
    margin-bottom: 3%;
    width: 15%;
}
.datecss {
    float: right;
    width: 12%;
}
.timecss {
    float: right;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 30%;
}
#TagCategories {
    border: 2px solid pink;
    border-radius: 20px;
    float: left;
    height: 18%;
    margin-bottom: 3%;
    margin-left: 10px;
    text-align: center;
    width: 90%;
}
#Htitle {
    color: #ffffff;
    margin-left: 40px;
}
#postlist {
    padding-bottom: 2%;
}
