
.postidcss {
    border: 2px solid pink;
    border-radius: 20px;
    display: inline-block;
    
    height: auto;
    
    padding: 1%;
    width: 97%;
}
.categorycss {
    margin-left: 20px;
}
.quescss {
    margin-left: 20px;
}
.tagcss {
    float: left;
    margin-left: 20px;
    width: auto;
}
.usernamecss {
    float: right;
  
    text-align: center;
    width: 10%;
}
.datecss {
    float: right;
    width: 12%;
}
.timecss {
    float: right;
    
}
.PostContainerCss {
    height: 100%;
    position: relative;
}
#body {
    height: 100%;
}
